body {
	background-color: #f2f3f3;
}
.main-wrapper-container {
	margin: 0 auto;
	height: auto;
}
.header-container {
	background-color: #007bff;
	color: white;
	width: 100%;
	padding: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.header-container h1 {
	font-size: 3rem;
	font-weight: bold;
}

.header-container p {
	font-size: 1rem;
	color: #5ff6c4;
}
.searchFieldLabel {
	display: block;
	width: 100%;
}
.inputBox,
.btn {
	margin-top: 0.5rem;
}
.nestedLeftCol {
	background-color: #ebf0f3;
	margin: 1rem 0;
	padding: 0.5rem 0.5rem 0.5rem 1rem;
}
#alertMessage {
	color: red;
	font-size: 0.9rem;
}
.top-content-col1,
.top-content-col2 {
	margin-top: 1rem;
	background-color: #fafafa;
	height: auto;
	border: 1px solid #e0dfdf;
}
.top-content-col2 {
	padding: 1rem;
	margin-left: 1rem;
}

.bottom-content-col-1  {
	background-color: #fafafa;
	margin-top: 1rem;
	margin-bottom: 0;
	padding: 1.5rem;
	padding-bottom: 1rem;
	border: 1px solid #e0dfdf;
	border-bottom: none;
	text-align: center;
}

.footer-row {
	padding: 2rem;
	margin-top: 1rem;
	background-color: #dfe4e6;
	color: #666;
	text-align: center;
	font-size: 0.8rem;
	justify-content: center;
	align-items: center;
}

/* Commonly multiple use */
.defaultParaTexts {
	color: #999;
	font-size: 0.7rem;
}
/* Dynamically updating elements section */
.dynamicH4 {
	color: #007bff;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}
.dynamicP {
	color: #1d1e20;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8rem;
	text-transform: capitalize;
	margin: 10px 0;
}
.dynamicNote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.6rem;
	color: #767b7c;
}
#cityInfoBox img {
	margin-left: 20px;
}

#forecastBoxesWrapper {
	margin-top: .5rem;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
} 
.dailyForecastBox {
  padding:1rem; 
	background-color: #007bff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: white;
  text-align: center;
	width: 20%;
	height: 200px;
margin-left: 1rem;
  
} 
.dailyForecastBox img {
padding: 1rem;
}
